<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head ('Roll Dice')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h2>Roll the dice!!!</h2>

<div>
  <p><a href="/roll-dice/1">1</a></p>
  <p><a href="/roll-dice/2">2</a></p>
  <p><a href="/roll-dice/3">3</a></p>
  <p><a href="/roll-dice/4">4</a></p>
  <p><a href="/roll-dice/5">5</a></p>
  <p><a href="/roll-dice/6">6</a></p>
</div>


<h2 th:text="${userGuess}"></h2>
<h2 th:text="${randomNumber}"></h2>
<h2 th:text="${resultMessage}"></h2>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>